@model List<MvcShopping.Models.ProductCategory>

<h2>@Html.DisplayNameFor(model=>model[0])</h2>
@foreach (var item in Model) {
    <li>    @Html.ActionLink(item.Name, "ProductList", new { id=item.Id })</li>
}
